.screen1 {
  min-height: 75%;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .screen_content {
    position: absolute;

    .screen_content_title-subtitle {
      background-color: $primary;
    }

    .screen_content_title-profilePic {
      width: 250px;
      background-size: cover;
      grid-area: box1;
    }
    .screen_content_title-greet {
      font-size: 2rem;
    }
    .screen_content_title-name {
      font-size: 3rem;
    }
  }
}
@media only screen and (min-width: 600px) {
  .screen1 {
    .screen_content {
      height: 400px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 800px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        'box1 box2 box2'
        'box3 box3 box3';
      .screen_content_title {
        margin-left: 1rem;
        grid-area: box2;
      }
      .screen_content_title-name {
        font-weight: 600;
        font-size: 4.2rem;
        line-height: 1;
      }
      .screen_content_title-subtitle {
        position: absolute;
        width: calc(100% + 1.5rem);
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 20px;
        font-size: 1.5rem;
        top: -6.25rem;
        left: -1.5rem;
        z-index: -1;
        font-weight: 600;
        grid-area: box3;
      }
    }
  }
}
